<style>
  .block-horizontal {
    display: flex;
  }

  .block-horizontal label {
    background: black;
  }
</style>

<div class="vitals">
  <div>
    <div class="logo">
      <h1>Logo Here</h1>
    </div>

    <div class="block-horizontal">
      <label>AL</label>
      <input placeholder='Alignment...' name='alignment' />
    </div>
  </div>

    <div class="block-horizontal">
    <label>PC</label>
    <input placeholder='Name...' name='name' />
  </div>

    <div class="block-horizontal">
    <div>
      <label>Class</label>
      <input placeholder='Class...' name='Class' />
    </div>

    <div class="block-horizontal">
      <label>Level</label>
      <input placeholder='Level...' name='level' />
    </div>
  </div>

    <div class="block-horizontal">
    <div>
      <label>Title</label>
      <input placeholder='Title...' name='title' />
    </div>

    <div class="block-horizontal">
      <label>Level</label>
      <input placeholder='Hit Die...' name='hitdie' />
    </div>
  </div>
</div>

<!-- <div id='iframe-character-fake-id' draggable='true' ondragstart='dragStartHandler(event)'
  style='background: rgba(0,255,0,1); height: 50px' ondragstart='drag(event)'>Draggable iFrame Character</div> -->

<h3>Equipment</h3>

{{#array 'myequipment' 'equipment'}}
  <div>
    <button name='remove'>-</button>
    <input type="hidden" name="documentId" />
    <input name="name" style='width: 200px'>{{name}}</input>
    <span style='display: inline-block; width: 100px'>{{weight}}</span>
  </div>
{{/array}}
<!-- <button type="equipment" name="add">add equipment</button> -->

<h3>Spells</h3>

{{#array 'myspells' 'spells'}}
  <div>
    <button name='remove'>-</button>
    <input type="hidden" name="documentId" />
    <input name="name" style='width: 200px'>{{name}}</input>
    <span style='display: inline-block; width: 100px'>{{weight}}</span>
  </div>
{{/array}}

