{{> system-style}}

<script>
  let sendMessage = (message) => {
    window.top.postMessage(
      {
        source: 'Frame',
        id: '123',
        message: 'setScene',
        data: message
      },
      'http://localhost:3000'
    )
  }
</script>

<style>
  @media screen and (min-width: 400px) {
    #media {
      display: flex;
    }

    #media>* {
      flex: 1 1 0px;
    }

    #media>*:first-child {
      margin-right: 10px;
    }
  }
</style>

<p style="margin-top: 0">
  <button onClick="() => { sendMessage({ sceneId: '{{id}}' }) }">Play</button>
  <button onClick="() => { sendMessage({ sceneId: '{{id}}' }) }">Preview</button>
</p>

<h2>Information</h2>

<p style="display: flex">
  <label for="name" style="flex: 0 0 30%;">Name</label>
  <span style="flex: 0 0 70%">
    <input type="text" placeholder="Scene Name..." name="name" />
  </span>
</p>

<p style="display: flex">
  <label for="name" style="flex: 0 0 30%;">Subtitle</label>
  <span style="flex: 0 0 70%">
    <input type="text" placeholder="Subtitle..." name="subtitle" />
    <input type="checkbox" name="nameIsSecret" />
    <label for="name">Hide Information</label>
  </span>
</p>

<h2>Media</h2>

<p style="display: flex">
  <label style="flex: 0 0 30%">Show</label>

  <span class="tabs">
    <input type="radio" id="coverRadio" name="showMap" value=false />
    <label for="coverRadio">Cover</label>

    <input type="radio" id="mapRadio" name="showMap" value=true />
    <label for="mapRadio">Map</label>
  </span>
</p>

<p style="display: flex">
  <label for="coverId" style="flex: 0 0 30%;">Cover</label>
  <asset name="coverId" style="flex: 0 0 70%;"></asset>
</p>

<p style="display: flex">
  <label for="mapId" style="flex: 0 0 30%;">Map</label>
  <asset name="mapId" style="flex: 0 0 70%;"></asset>

<p style="display: flex">
  <label for="audioId" style="flex: 0 0 30%;">Audio</label>
  <asset name="audioId" style="flex: 0 0 70%;"></asset>
</p>


{{#if coverId}}
  {{#if mapId}}
    <p>
      <label for="coverRadio">Show Cover</label>
      <input type="radio" id="coverRadio" name="showMap" value=false />

      <label for="mapRadio">Show Map</label>
      <input type="radio" id="mapRadio" name="showMap" value=true />
    </p>
  {{/if}}
{{/if}}

<h2>Grid</h2>

<div style="display: flex; margin-bottom: 10px; margin-top: 10px;">
  <div style="margin-right: 10px">
    <label for="grid">Size</label><br />
    <input type="number" name="grid.size" placeholder="10" style="width: 100%" />
  </div>

  <div style="margin-right: 10px">
    <label for="map">X</label><br />
    <input type="number" name="grid.x" placeholder="0" style="width: 100%" />
  </div>

  <div style="margin-right: 10px;">
    <label for="map">Y</label><br />
    <input type="number" name="grid.y" placeholder="0" style="width: 100%" />
  </div>

  <div style="margin-right: 10px;">
    <label for="map">Color</label>
    <input type="color" id="color" name="grid.color" value="#ff0000" style="width: 100%" />
  </div>

  <div>
    <label for="map">Alpha</label>
    <input type='number' name="grid.opacity" min="0" max="1" step="0.01" placeholder="1" style="width: 100%" />
  </div>
</div>

<h2>Notes</h2>

<p>
  <textarea placeholder="Private scene notes..." name="notes"></textarea>
</p>