{{> system-style}}
{{> sendMessage}}

<script>
  function drag(e) {
    const { type, id } = e.target.dataset
    e.dataTransfer.setData(type, id)
  }
</script>

<p>
  <label for='name'>Name:</label>
  <input name='name' />
</p>

<p>
  <label for='damage'>Damage:</label>
  <input name='damage' />
  <button onclick="() => {
    sendMessage('/r {{damage}}')
  }">Roll</button>
</p>

<p>
  <label for='qualities'>Qualities:</label>
  <input name='qualities' />
</p>

<p>
  <label for='weight'>Weight:</label>
  <input name='weight' />
</p>