<div style="display: flex;">
  <div style="flex: 1 1 auto">
    <p>Token:</p>
    <asset name="token"></asset>
  </div>

  <div style="flex: 1 1 auto">
    <p>Portrait:</p>
    <asset name="portrait"></asset>
  </div>
</div>