<script>
  function drag(e) {
    const { type, id } = e.target.dataset
    e.dataTransfer.setData(type, id)
  }

  const derp = 'clicked!'

  function clicked(e) {
    e.stopPropagation()
    console.log(e)
    alert(derp)
  }

  console.log('iframe script tag loaded and working')

  function dragStartHandler(e) {
    console.log('dragstart')
    e.dataTransfer.setData('text/plain', e.target.id)
  }

  function dragEnterHandler(e) {
    console.log('dragenter')
    e.preventDefault()
    e.dataTransfer.dropEffect = 'move'
    return false
  }

  function dragOverHandler(e) {
    e.preventDefault()
    console.log('dragover')
    return false
  }

  function drop(e) {
    console.log('dropped inside iframe', e)
  }
</script>
<p style='color: black'>Character Document Begins:</p>
<input name='name' />
<button onclick='console.log("click")'>Click Me</button>
<div id='equipment' draggable='true' ondragstart='dragStartHandler(event)'
  style='background: rgba(0,255,0,1); height: 50px' ondragstart='drag(event)'>Draggable iFrame Character</div>
<div onclick="clicked(event)" ondragenter="dragEnterHandler(event)" ondragover='dragOverHandler(event)'
  ondrop="drop(event)" droppable='equipment' style='background: rgba(255,255,0,1); height: 200px'>
  Drop equipment here
</div>