<script>
  function drag(e) {
    const { type, id } = e.target.dataset
    e.dataTransfer.setData(type, id)
  }

  function clicked(e) {
    e.stopPropagation()
    const target = document.querySelector('.dropElement')
    simulateDragDrop(e.target, target)
  }

  function dragStartHandler(e) {
    console.log('dragstart')
    e.dataTransfer.setData('text/plain', e.target.id)
  }

  function dragEnterHandler(e) {
    console.log('dragenter')
    e.preventDefault()
    e.dataTransfer.dropEffect = 'move'
  }

  function dragOverHandler(e) {
    e.preventDefault()
    console.log('dragover')
  }

  function drop(e) {
    console.log('dropped inside iframe', e)
  }

  function simulateDragDrop(sourceNode, destinationNode) {
    var EVENT_TYPES = {
      DRAG_END: 'dragend',
      DRAG_START: 'dragstart',
      DROP: 'drop'
    }

    function createCustomEvent(type) {
      var event = new CustomEvent("CustomEvent")
      event.initCustomEvent(type, true, true, null)
      event.dataTransfer = {
        data: {
        },
        setData: function (type, val) {
          this.data[type] = val
        },
        getData: function (type) {
          return this.data[type]
        }
      }
      return event
    }

    function dispatchEvent(node, type, event) {
      if (node.dispatchEvent) {
        return node.dispatchEvent(event)
      }
      if (node.fireEvent) {
        return node.fireEvent("on" + type, event)
      }
    }

    var event = createCustomEvent(EVENT_TYPES.DRAG_START)
    dispatchEvent(sourceNode, EVENT_TYPES.DRAG_START, event)

    var dropEvent = createCustomEvent(EVENT_TYPES.DROP)
    dropEvent.dataTransfer = event.dataTransfer
    dispatchEvent(destinationNode, EVENT_TYPES.DROP, dropEvent)

    var dragEndEvent = createCustomEvent(EVENT_TYPES.DRAG_END)
    dragEndEvent.dataTransfer = event.dataTransfer
    dispatchEvent(sourceNode, EVENT_TYPES.DRAG_END, dragEndEvent)
  }
</script>

<p style='color: black'>Character Document Begins:</p>

<input name='name' />

<button onclick="clicked(event)">Click Me</button>

<input type="number" name="age" />

<select name="pets" id="pet-select" multiple size="3">
  <option value="">--Please choose an option--</option>
  <option value="dog">Dog</option>
  <option value="cat">Cat</option>
  <option value="hamster">Hamster</option>
  <option value="parrot">Parrot</option>
  <option value="spider">Spider</option>
  <option value="goldfish">Goldfish</option>
</select>

<div id='iframe-character-fake-id' draggable='true' ondragstart='dragStartHandler(event)'
  style='background: rgba(0,255,0,1); height: 50px' ondragstart='drag(event)'>Draggable iFrame Character</div>
<div className='dropElement' ondragenter="dragEnterHandler(event)" ondragover='dragOverHandler(event)'
  ondrop="drop(event)" droppable='equipment' style='background: rgba(255,255,0,1); height: 200px'>
  Drop equipment here
</div>