<input name='name' />
<p>Name: {{name}}</p>

<!-- <div id='iframe-character-fake-id' draggable='true' ondragstart='dragStartHandler(event)'
  style='background: rgba(0,255,0,1); height: 50px' ondragstart='drag(event)'>Draggable iFrame Character</div> -->

<div id='backpack' droppable='equipment' style='background-color: rgba(255,255,0,1); height: 200px; padding: 10px'>
  <p>Drop equipment here.</p>

  {{#array 'myequipment' 'equipment'}}
    <div>
      <button data-action='remove' data-type='equipment'>-</button>
      <input name="name" style='width: 200px'>{{name}}</input>
      <span style='display: inline-block; width: 100px'>{{weight}}</span>
    </div>
  {{/array}}
  <!-- <button type="equipment" name="add">add equipment</button> -->

</div>