<script>
  function drag(e) { 
    const { type, id } = e.target.dataset
    e.dataTransfer.setData(type, id) 
  } 
</script>

<p>
  <label for='name'>Name:</label>
  <input name='name' />
</p>

<p>
  <label for='weight'>Weight:</label>
  <input name='weight' />
</p>
<div
  draggable='true'
  data-type='equipment'
  data-id='iframe-equipment'
  style='background: rgba(0,0,128,1); height: 50px'
  ondragstart='drag(event)'
>iFrame Equipment</div>
</div>